@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scaleY(1);
  }
  to {
    opacity: 0;
    transform: scaleY(0);
  }
}

.animate-fade-out {
  transform-origin: top;
  animation: fadeOut 0.2s ease-in forwards;
}

.expandable-content {
  transition: all 0.3s ease;
  transform-origin: top;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.expandable-content.expanded {
  max-height: 2000px; /* altura máxima que o conteúdo pode ter */
  opacity: 1;
}
